openapi: 3.1.0
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: API for SimpleCloud Controller
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: SimpleCloud Controller API
  version: "1.0"
externalDocs:
  description: ""
  url: ""
servers:
- url: https://controller.platform.simplecloud.app/
paths:
  /v0/admin/networks:
    get:
      description: List all networks. Requires admin access.
      x-accepts:
      - application/json
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ListNetworksResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: List all networks (admin only)
      tags:
      - admin
  /v0/blueprints:
    delete:
      description: Delete an existing blueprint
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Blueprint ID
        explode: true
        in: query
        name: blueprint_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.DeleteBlueprintResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Delete a blueprint
      tags:
      - blueprints
    get:
      description: Get a list of blueprints for a network
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ListBlueprintsResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: List blueprints
      tags:
      - blueprints
    patch:
      description: Partially update an existing blueprint
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Blueprint ID
        explode: true
        in: query
        name: blueprint_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.PatchBlueprintRequest"
        description: Blueprint fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.UpdateBlueprintResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Partially update a blueprint
      tags:
      - blueprints
    post:
      description: Create a new blueprint for a network
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.CreateBlueprintRequest"
        description: Blueprint details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.CreateBlueprintResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Create a new blueprint
      tags:
      - blueprints
    put:
      description: Update an existing blueprint
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Blueprint ID
        explode: true
        in: query
        name: blueprint_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.UpdateBlueprintRequest"
        description: Blueprint details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.UpdateBlueprintResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Update a blueprint
      tags:
      - blueprints
  /v0/metrics/logs/query:
    post:
      description: Query logs using POST body with array-based filters for maximum
        flexibility
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.LogQueryRequest"
        description: Query filters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.LogsResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Query logs with flexible filters
      tags:
      - metrics
  /v0/metrics/logs/stream:
    get:
      description: Server-Sent Events endpoint for real-time log streaming with filters
      x-accepts:
      - application/json
      - text/event-stream
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Comma-separated server IDs
        explode: true
        in: query
        name: server_ids
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated server group IDs
        explode: true
        in: query
        name: server_group_ids
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated persistent server IDs
        explode: true
        in: query
        name: persistent_server_ids
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated serverhost IDs
        explode: true
        in: query
        name: serverhost_ids
        required: false
        schema:
          type: string
        style: form
      - description: "Comma-separated severities (ERROR, WARN, INFO, DEBUG)"
        explode: true
        in: query
        name: severities
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: Full-text search in messages
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            text/event-stream:
              schema:
                type: string
          description: SSE stream
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Stream logs in real-time via SSE
      tags:
      - metrics
  /v0/metrics/query:
    get:
      description: "Get the latest values for a metric, optionally grouped by a label"
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: "Metric name (e.g., server.player_count, server.cpu_usage_percent)"
        explode: true
        in: query
        name: metric
        required: true
        schema:
          type: string
        style: form
      - description: "Label to group by (e.g., server_group_name, persistent_server_name)"
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated server IDs to filter
        explode: true
        in: query
        name: server_ids
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated server group IDs to filter
        explode: true
        in: query
        name: server_group_ids
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated persistent server IDs to filter
        explode: true
        in: query
        name: persistent_server_ids
        required: false
        schema:
          type: string
        style: form
      - description: "Comma-separated server group types to filter (e.g., SERVER,\
          \ PROXY)"
        explode: true
        in: query
        name: server_type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/metrics.InstantResult"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Service Unavailable
      summary: Query current metric values
      tags:
      - metrics
  /v0/metrics/query_range:
    get:
      description: "Get time-bucketed metric values for charts, optionally grouped\
        \ by a label"
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: "Comma-separated metric names (e.g., server.cpu_usage_percent,server.memory_usage_mb)"
        explode: true
        in: query
        name: metrics
        required: true
        schema:
          type: string
        style: form
      - description: "Start timestamp in RFC3339 format (e.g., 2025-12-24T00:00:00Z)"
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: "End timestamp in RFC3339 format (e.g., 2025-12-24T12:00:00Z)"
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: "Aggregation interval (e.g., 5m, 1h). Auto-calculated if omitted"
        explode: true
        in: query
        name: step
        required: false
        schema:
          type: string
        style: form
      - description: "Label to group by (e.g., server_group_name, persistent_server_name)"
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          type: string
        style: form
      - description: "Aggregation function: avg (default), sum, max, min"
        explode: true
        in: query
        name: aggregation
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated server IDs to filter
        explode: true
        in: query
        name: server_ids
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated server group IDs to filter
        explode: true
        in: query
        name: server_group_ids
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated persistent server IDs to filter
        explode: true
        in: query
        name: persistent_server_ids
        required: false
        schema:
          type: string
        style: form
      - description: "Comma-separated server group types to filter (e.g., SERVER,\
          \ PROXY)"
        explode: true
        in: query
        name: server_type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/metrics.TimeSeriesResult"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Service Unavailable
      summary: Query metric time series
      tags:
      - metrics
  /v0/networks:
    delete:
      description: "Delete a network and cascade delete all associated resources (servers,\
        \ groups, blueprints, etc.)"
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.DeleteNetworkResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Delete a network and all its resources
      tags:
      - networks
    patch:
      description: Update the authenticated network
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.UpdateNetworkRequest"
        description: Updated network details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.UpdateNetworkResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Update a network
      tags:
      - networks
  /v0/networks/passwords:
    delete:
      description: Delete a network password from the authenticated network
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Password ID
        explode: true
        in: query
        name: password_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.DeleteNetworkPasswordResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Delete network password
      tags:
      - networks
    get:
      description: List all network passwords for the authenticated network
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ListNetworkPasswordsResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: List network passwords
      tags:
      - networks
    post:
      description: Create a new network password for the authenticated network
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.CreateNetworkPasswordRequest"
        description: Network password details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.CreateNetworkPasswordResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Create network password
      tags:
      - networks
  /v0/networks/register:
    post:
      description: Register a new network and generate credentials
      x-content-type: application/json
      x-accepts:
      - application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.RegisterNetworkRequest"
        description: Optional network details
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.RegisterNetworkResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                type: string
          description: Internal server error
      summary: Register a new network
      tags:
      - networks
  /v0/networks/verify:
    post:
      description: Verify if the provided network credentials are valid
      x-content-type: application/json
      x-accepts:
      - application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.VerifyNetworkRequest"
        description: Network credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.VerifyNetworkResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.VerifyNetworkResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.VerifyNetworkResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.VerifyNetworkResponse"
          description: Internal Server Error
      summary: Verify network credentials
      tags:
      - networks
  /v0/persistent-servers:
    delete:
      description: Delete an existing persistent server
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Persistent Server ID
        explode: true
        in: query
        name: persistent_server_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.DeletePersistentServerResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Delete a persistent server
      tags:
      - persistent-servers
    get:
      description: Get a list of persistent servers for a network
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: "Filter by persistent server ID(s), comma-separated"
        explode: true
        in: query
        name: persistent_server_id
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by exact name(s), comma-separated"
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by type(s), comma-separated (SERVER, PROXY)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by tag(s), comma-separated; matches any tag"
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: Filter by active status (true/false)
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filter by source type(s), comma-separated (blueprint, image)"
        explode: true
        in: query
        name: source_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by blueprint ID(s), comma-separated"
        explode: true
        in: query
        name: blueprint_id
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by serverhost ID(s), comma-separated"
        explode: true
        in: query
        name: serverhost_id
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results (1-500)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to skip; requires limit
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ListPersistentServersResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: List persistent servers
      tags:
      - persistent-servers
    patch:
      description: Partially update an existing persistent server
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Persistent Server ID
        explode: true
        in: query
        name: persistent_server_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.PatchPersistentServerRequest"
        description: Persistent server fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.UpdatePersistentServerResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Partially update a persistent server
      tags:
      - persistent-servers
    post:
      description: Create a new persistent server for a network
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.CreatePersistentServerRequest"
        description: Persistent server details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.CreatePersistentServerResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Create a new persistent server
      tags:
      - persistent-servers
    put:
      description: Update an existing persistent server
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Persistent Server ID
        explode: true
        in: query
        name: persistent_server_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.UpdatePersistentServerRequest"
        description: Persistent server details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.UpdatePersistentServerResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Update a persistent server
      tags:
      - persistent-servers
  /v0/persistent-servers/properties:
    delete:
      description: Delete specific property keys from a persistent server
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Persistent Server ID
        explode: true
        in: query
        name: persistent_server_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.DeletePropertiesRequest"
        description: Keys to delete
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.DeletePropertiesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Delete persistent server property keys
      tags:
      - persistent-servers
    patch:
      description: Merge/update specific property keys for a persistent server (deep
        merge)
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Persistent Server ID
        explode: true
        in: query
        name: persistent_server_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.PatchPropertiesRequest"
        description: Properties to merge
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PatchPropertiesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Merge persistent server properties
      tags:
      - persistent-servers
    put:
      description: Replace entire properties object for a persistent server
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Persistent Server ID
        explode: true
        in: query
        name: persistent_server_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.UpdatePropertiesRequest"
        description: Properties to set
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.UpdatePropertiesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Replace persistent server properties
      tags:
      - persistent-servers
  /v0/persistent-servers/workflows/manual:
    post:
      description: Execute a configured manual workflow for all eligible running servers
        of a persistent server
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Persistent Server ID
        explode: true
        in: query
        name: persistent_server_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.ExecuteManualWorkflowRequest"
        description: Manual workflow execution request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ExecutePersistentServerWorkflowResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Execute a manual workflow for all running servers of a persistent server
      tags:
      - persistent-servers
  /v0/players:
    get:
      description: Get a list of players for a network with optional filtering
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by online status
        explode: true
        in: query
        name: online
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by connected server
        explode: true
        in: query
        name: server
        required: false
        schema:
          type: string
        style: form
      - description: Search by name
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "Sort by field (name, last_login, online_time, first_login)"
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: "Sort order (asc, desc)"
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: Limit results (default 50)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ListPlayersResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: List players
      tags:
      - players
    patch:
      description: Partially update admin-managed player fields like online time and
        optionally reset first/last seen timestamps to now
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.PatchPlayerRequest"
        description: Player fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PlayerResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Partially update a player
      tags:
      - players
  /v0/players/connect:
    post:
      description: "Connect a player to a specific server, server group, or persistent\
        \ server"
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.ConnectPlayerRequest"
        description: Connection target
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ConnectPlayerResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Connect player to server
      tags:
      - players
  /v0/players/id:
    get:
      description: Get a player by their Minecraft UUID
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PlayerResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Get player by UUID
      tags:
      - players
  /v0/players/kick:
    post:
      description: Kick a player from the network
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.KickPlayerRequest"
        description: Kick reason
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.KickPlayerResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Kick a player
      tags:
      - players
  /v0/players/name:
    get:
      description: Get a player by their name
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PlayerResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Get player by name
      tags:
      - players
  /v0/players/online:
    get:
      description: Get a list of online players
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by connected server
        explode: true
        in: query
        name: server
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.OnlinePlayersResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: List online players
      tags:
      - players
  /v0/players/online-time:
    get:
      description: Get total online time for a player on this network
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID (Minecraft UUID)
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PlayerOnlineTimeResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Get player online time
      tags:
      - players
  /v0/players/online/count:
    get:
      description: Get the count of online players
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.OnlinePlayerCountResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Get online player count
      tags:
      - players
  /v0/players/profiles:
    get:
      description: Get a player's profile history (name/skin changes)
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID (Minecraft UUID)
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      - description: Limit results (default 50)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ListPlayerProfilesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: List player profiles
      tags:
      - players
  /v0/players/profiles/latest:
    get:
      description: Get the most recent profile (name/skin) for a player
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID (Minecraft UUID)
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PlayerProfileResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Get latest player profile
      tags:
      - players
  /v0/players/properties:
    delete:
      description: Delete specific property keys
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.DeletePlayerPropertiesRequest"
        description: Keys to delete
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.DeletePlayerPropertiesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Delete player properties
      tags:
      - players
    get:
      description: Get custom properties for a player
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PlayerPropertiesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Get player properties
      tags:
      - players
    patch:
      description: Merge properties with existing ones
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.UpdatePlayerPropertiesRequest"
        description: Properties to merge
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.UpdatePlayerPropertiesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Patch player properties
      tags:
      - players
    put:
      description: Replace all player properties
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.UpdatePlayerPropertiesRequest"
        description: Properties
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.UpdatePlayerPropertiesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Update player properties
      tags:
      - players
  /v0/players/sessions:
    get:
      description: Get session history for a player on this network
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID (Minecraft UUID)
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      - description: Limit results (default 50)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ListPlayerSessionsResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: List player sessions
      tags:
      - players
  /v0/players/sessions/current:
    get:
      description: Get the current active session for an online player
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID (Minecraft UUID)
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.CurrentSessionResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Get current session
      tags:
      - players
  /v0/players/sessions/settings:
    get:
      description: Get client settings for an online player's current session
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID (Minecraft UUID)
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PlayerClientSettingsResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Get client settings
      tags:
      - players
    put:
      description: Update client settings for an online player's current session
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID (Minecraft UUID)
        explode: true
        in: query
        name: player_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.UpdateClientSettingsRequest"
        description: Settings to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.UpdateClientSettingsResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
      summary: Update client settings
      tags:
      - players
  /v0/plugin-assignments:
    delete:
      description: Delete an existing plugin assignment
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Plugin Assignment ID
        explode: true
        in: query
        name: assignment_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.DeletePluginAssignmentResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Delete a plugin assignment
      tags:
      - plugin-assignments
    get:
      description: "Get a list of plugin assignments for a network, optionally filtered\
        \ by server group or persistent server"
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by Server Group ID
        explode: true
        in: query
        name: server_group_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Persistent Server ID
        explode: true
        in: query
        name: persistent_server_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ListPluginAssignmentsResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: List plugin assignments
      tags:
      - plugin-assignments
    post:
      description: "Assign a plugin to a server group or persistent server. You can\
        \ either provide a plugin_id to use an existing plugin, or provide plugin_name,\
        \ source_type, and source_value to find or create the plugin automatically."
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.CreatePluginAssignmentRequest"
        description: Plugin assignment details. Either plugin_id OR (plugin_name +
          source_type + source_value) must be provided.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PluginAssignmentResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Create a new plugin assignment
      tags:
      - plugin-assignments
    put:
      description: Update the plugin metadata for an existing assignment without deleting
        it first
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Plugin Assignment ID
        explode: true
        in: query
        name: assignment_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.UpdatePluginAssignmentRequest"
        description: Plugin assignment update details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.PluginAssignmentResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Update a plugin assignment
      tags:
      - plugin-assignments
  /v0/plugin-assignments/bulk-create:
    post:
      description: Assign one or more plugins to multiple server groups and persistent
        servers atomically
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.BulkCreatePluginAssignmentsRequest"
        description: Plugin assignment details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.BulkCreatePluginAssignmentsResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Bulk create plugin assignments
      tags:
      - plugin-assignments
  /v0/plugin-assignments/bulk-delete:
    post:
      description: Delete multiple plugin assignments in one request
      x-content-type: application/json
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/models.BulkDeletePluginAssignmentsRequest"
        description: Plugin assignment IDs
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.BulkDeletePluginAssignmentsResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.ErrorResponse"
          description: Internal Server Error
      summary: Bulk delete plugin assignments
      tags:
      - plugin-assignments
  /v0/plugin-collection-assignments:
    delete:
      description: Delete a plugin collection installation without deleting the normal
        plugin assignments created from it
      x-accepts:
      - application/json
      parameters:
      - description: Network ID
        explode: false
        in: header
        name: X-Network-ID
        required: true
        schema:
          type: string
        style: simple
      - description: Network Credential (network password or JWT)
        explode: false
        in: header
        name: X-Network-Credential
        required: true
        schema:
          type: string
        style: simple
      - description: Plugin Collection Assignment ID
        explode: true
        in: query
        name: assignment_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
