/*
SimpleCloud Controller API

API for SimpleCloud Controller

API version: 1.0
Contact: support@swagger.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type MetricsAPI interface {

	/*
		V0MetricsLogsQueryPost Query logs with flexible filters

		Query logs using POST body with array-based filters for maximum flexibility

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0MetricsLogsQueryPostRequest
	*/
	V0MetricsLogsQueryPost(ctx context.Context) ApiV0MetricsLogsQueryPostRequest

	// V0MetricsLogsQueryPostExecute executes the request
	//  @return ModelsLogsResponse
	V0MetricsLogsQueryPostExecute(r ApiV0MetricsLogsQueryPostRequest) (*ModelsLogsResponse, *http.Response, error)

	/*
		V0MetricsLogsStreamGet Stream logs in real-time via SSE

		Server-Sent Events endpoint for real-time log streaming with filters

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0MetricsLogsStreamGetRequest
	*/
	V0MetricsLogsStreamGet(ctx context.Context) ApiV0MetricsLogsStreamGetRequest

	// V0MetricsLogsStreamGetExecute executes the request
	//  @return string
	V0MetricsLogsStreamGetExecute(r ApiV0MetricsLogsStreamGetRequest) (string, *http.Response, error)

	/*
		V0MetricsQueryGet Query current metric values

		Get the latest values for a metric, optionally grouped by a label

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0MetricsQueryGetRequest
	*/
	V0MetricsQueryGet(ctx context.Context) ApiV0MetricsQueryGetRequest

	// V0MetricsQueryGetExecute executes the request
	//  @return MetricsInstantResult
	V0MetricsQueryGetExecute(r ApiV0MetricsQueryGetRequest) (*MetricsInstantResult, *http.Response, error)

	/*
		V0MetricsQueryRangeGet Query metric time series

		Get time-bucketed metric values for charts, optionally grouped by a label

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0MetricsQueryRangeGetRequest
	*/
	V0MetricsQueryRangeGet(ctx context.Context) ApiV0MetricsQueryRangeGetRequest

	// V0MetricsQueryRangeGetExecute executes the request
	//  @return MetricsTimeSeriesResult
	V0MetricsQueryRangeGetExecute(r ApiV0MetricsQueryRangeGetRequest) (*MetricsTimeSeriesResult, *http.Response, error)
}

// MetricsAPIService MetricsAPI service
type MetricsAPIService service

type ApiV0MetricsLogsQueryPostRequest struct {
	ctx                   context.Context
	ApiService            MetricsAPI
	xNetworkID            *string
	xNetworkCredential    *string
	modelsLogQueryRequest *ModelsLogQueryRequest
}

// Network ID
func (r ApiV0MetricsLogsQueryPostRequest) XNetworkID(xNetworkID string) ApiV0MetricsLogsQueryPostRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0MetricsLogsQueryPostRequest) XNetworkCredential(xNetworkCredential string) ApiV0MetricsLogsQueryPostRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Query filters
func (r ApiV0MetricsLogsQueryPostRequest) ModelsLogQueryRequest(modelsLogQueryRequest ModelsLogQueryRequest) ApiV0MetricsLogsQueryPostRequest {
	r.modelsLogQueryRequest = &modelsLogQueryRequest
	return r
}

func (r ApiV0MetricsLogsQueryPostRequest) Execute() (*ModelsLogsResponse, *http.Response, error) {
	return r.ApiService.V0MetricsLogsQueryPostExecute(r)
}

/*
V0MetricsLogsQueryPost Query logs with flexible filters

Query logs using POST body with array-based filters for maximum flexibility

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0MetricsLogsQueryPostRequest
*/
func (a *MetricsAPIService) V0MetricsLogsQueryPost(ctx context.Context) ApiV0MetricsLogsQueryPostRequest {
	return ApiV0MetricsLogsQueryPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsLogsResponse
func (a *MetricsAPIService) V0MetricsLogsQueryPostExecute(r ApiV0MetricsLogsQueryPostRequest) (*ModelsLogsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsLogsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.V0MetricsLogsQueryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/metrics/logs/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.modelsLogQueryRequest == nil {
		return localVarReturnValue, nil, reportError("modelsLogQueryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	// body params
	localVarPostBody = r.modelsLogQueryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0MetricsLogsStreamGetRequest struct {
	ctx                 context.Context
	ApiService          MetricsAPI
	xNetworkID          *string
	xNetworkCredential  *string
	serverIds           *string
	serverGroupIds      *string
	persistentServerIds *string
	serverhostIds       *string
	severities          *string
	tags                *string
	search              *string
}

// Network ID
func (r ApiV0MetricsLogsStreamGetRequest) XNetworkID(xNetworkID string) ApiV0MetricsLogsStreamGetRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0MetricsLogsStreamGetRequest) XNetworkCredential(xNetworkCredential string) ApiV0MetricsLogsStreamGetRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Comma-separated server IDs
func (r ApiV0MetricsLogsStreamGetRequest) ServerIds(serverIds string) ApiV0MetricsLogsStreamGetRequest {
	r.serverIds = &serverIds
	return r
}

// Comma-separated server group IDs
func (r ApiV0MetricsLogsStreamGetRequest) ServerGroupIds(serverGroupIds string) ApiV0MetricsLogsStreamGetRequest {
	r.serverGroupIds = &serverGroupIds
	return r
}

// Comma-separated persistent server IDs
func (r ApiV0MetricsLogsStreamGetRequest) PersistentServerIds(persistentServerIds string) ApiV0MetricsLogsStreamGetRequest {
	r.persistentServerIds = &persistentServerIds
	return r
}

// Comma-separated serverhost IDs
func (r ApiV0MetricsLogsStreamGetRequest) ServerhostIds(serverhostIds string) ApiV0MetricsLogsStreamGetRequest {
	r.serverhostIds = &serverhostIds
	return r
}

// Comma-separated severities (ERROR, WARN, INFO, DEBUG)
func (r ApiV0MetricsLogsStreamGetRequest) Severities(severities string) ApiV0MetricsLogsStreamGetRequest {
	r.severities = &severities
	return r
}

// Comma-separated tags
func (r ApiV0MetricsLogsStreamGetRequest) Tags(tags string) ApiV0MetricsLogsStreamGetRequest {
	r.tags = &tags
	return r
}

// Full-text search in messages
func (r ApiV0MetricsLogsStreamGetRequest) Search(search string) ApiV0MetricsLogsStreamGetRequest {
	r.search = &search
	return r
}

func (r ApiV0MetricsLogsStreamGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.V0MetricsLogsStreamGetExecute(r)
}

/*
V0MetricsLogsStreamGet Stream logs in real-time via SSE

Server-Sent Events endpoint for real-time log streaming with filters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0MetricsLogsStreamGetRequest
*/
func (a *MetricsAPIService) V0MetricsLogsStreamGet(ctx context.Context) ApiV0MetricsLogsStreamGetRequest {
	return ApiV0MetricsLogsStreamGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *MetricsAPIService) V0MetricsLogsStreamGetExecute(r ApiV0MetricsLogsStreamGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.V0MetricsLogsStreamGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/metrics/logs/stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}

	if r.serverIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_ids", r.serverIds, "form", "")
	}
	if r.serverGroupIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_group_ids", r.serverGroupIds, "form", "")
	}
	if r.persistentServerIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "persistent_server_ids", r.persistentServerIds, "form", "")
	}
	if r.serverhostIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serverhost_ids", r.serverhostIds, "form", "")
	}
	if r.severities != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severities", r.severities, "form", "")
	}
	if r.tags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags", r.tags, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0MetricsQueryGetRequest struct {
	ctx                 context.Context
	ApiService          MetricsAPI
	xNetworkID          *string
	xNetworkCredential  *string
	metric              *string
	groupBy             *string
	serverIds           *string
	serverGroupIds      *string
	persistentServerIds *string
	serverType          *string
}

// Network ID
func (r ApiV0MetricsQueryGetRequest) XNetworkID(xNetworkID string) ApiV0MetricsQueryGetRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0MetricsQueryGetRequest) XNetworkCredential(xNetworkCredential string) ApiV0MetricsQueryGetRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Metric name (e.g., server.player_count, server.cpu_usage_percent)
func (r ApiV0MetricsQueryGetRequest) Metric(metric string) ApiV0MetricsQueryGetRequest {
	r.metric = &metric
	return r
}

// Label to group by (e.g., server_group_name, persistent_server_name)
func (r ApiV0MetricsQueryGetRequest) GroupBy(groupBy string) ApiV0MetricsQueryGetRequest {
	r.groupBy = &groupBy
	return r
}

// Comma-separated server IDs to filter
func (r ApiV0MetricsQueryGetRequest) ServerIds(serverIds string) ApiV0MetricsQueryGetRequest {
	r.serverIds = &serverIds
	return r
}

// Comma-separated server group IDs to filter
func (r ApiV0MetricsQueryGetRequest) ServerGroupIds(serverGroupIds string) ApiV0MetricsQueryGetRequest {
	r.serverGroupIds = &serverGroupIds
	return r
}

// Comma-separated persistent server IDs to filter
func (r ApiV0MetricsQueryGetRequest) PersistentServerIds(persistentServerIds string) ApiV0MetricsQueryGetRequest {
	r.persistentServerIds = &persistentServerIds
	return r
}

// Comma-separated server group types to filter (e.g., SERVER, PROXY)
func (r ApiV0MetricsQueryGetRequest) ServerType(serverType string) ApiV0MetricsQueryGetRequest {
	r.serverType = &serverType
	return r
}

func (r ApiV0MetricsQueryGetRequest) Execute() (*MetricsInstantResult, *http.Response, error) {
	return r.ApiService.V0MetricsQueryGetExecute(r)
}

/*
V0MetricsQueryGet Query current metric values

Get the latest values for a metric, optionally grouped by a label

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0MetricsQueryGetRequest
*/
func (a *MetricsAPIService) V0MetricsQueryGet(ctx context.Context) ApiV0MetricsQueryGetRequest {
	return ApiV0MetricsQueryGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MetricsInstantResult
func (a *MetricsAPIService) V0MetricsQueryGetExecute(r ApiV0MetricsQueryGetRequest) (*MetricsInstantResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MetricsInstantResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.V0MetricsQueryGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/metrics/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.metric == nil {
		return localVarReturnValue, nil, reportError("metric is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "metric", r.metric, "form", "")
	if r.groupBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_by", r.groupBy, "form", "")
	}
	if r.serverIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_ids", r.serverIds, "form", "")
	}
	if r.serverGroupIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_group_ids", r.serverGroupIds, "form", "")
	}
	if r.persistentServerIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "persistent_server_ids", r.persistentServerIds, "form", "")
	}
	if r.serverType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_type", r.serverType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0MetricsQueryRangeGetRequest struct {
	ctx                 context.Context
	ApiService          MetricsAPI
	xNetworkID          *string
	xNetworkCredential  *string
	metrics             *string
	from                *string
	to                  *string
	step                *string
	groupBy             *string
	aggregation         *string
	serverIds           *string
	serverGroupIds      *string
	persistentServerIds *string
	serverType          *string
}

// Network ID
func (r ApiV0MetricsQueryRangeGetRequest) XNetworkID(xNetworkID string) ApiV0MetricsQueryRangeGetRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0MetricsQueryRangeGetRequest) XNetworkCredential(xNetworkCredential string) ApiV0MetricsQueryRangeGetRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Comma-separated metric names (e.g., server.cpu_usage_percent,server.memory_usage_mb)
func (r ApiV0MetricsQueryRangeGetRequest) Metrics(metrics string) ApiV0MetricsQueryRangeGetRequest {
	r.metrics = &metrics
	return r
}

// Start timestamp in RFC3339 format (e.g., 2025-12-24T00:00:00Z)
func (r ApiV0MetricsQueryRangeGetRequest) From(from string) ApiV0MetricsQueryRangeGetRequest {
	r.from = &from
	return r
}

// End timestamp in RFC3339 format (e.g., 2025-12-24T12:00:00Z)
func (r ApiV0MetricsQueryRangeGetRequest) To(to string) ApiV0MetricsQueryRangeGetRequest {
	r.to = &to
	return r
}

// Aggregation interval (e.g., 5m, 1h). Auto-calculated if omitted
func (r ApiV0MetricsQueryRangeGetRequest) Step(step string) ApiV0MetricsQueryRangeGetRequest {
	r.step = &step
	return r
}

// Label to group by (e.g., server_group_name, persistent_server_name)
func (r ApiV0MetricsQueryRangeGetRequest) GroupBy(groupBy string) ApiV0MetricsQueryRangeGetRequest {
	r.groupBy = &groupBy
	return r
}

// Aggregation function: avg (default), sum, max, min
func (r ApiV0MetricsQueryRangeGetRequest) Aggregation(aggregation string) ApiV0MetricsQueryRangeGetRequest {
	r.aggregation = &aggregation
	return r
}

// Comma-separated server IDs to filter
func (r ApiV0MetricsQueryRangeGetRequest) ServerIds(serverIds string) ApiV0MetricsQueryRangeGetRequest {
	r.serverIds = &serverIds
	return r
}

// Comma-separated server group IDs to filter
func (r ApiV0MetricsQueryRangeGetRequest) ServerGroupIds(serverGroupIds string) ApiV0MetricsQueryRangeGetRequest {
	r.serverGroupIds = &serverGroupIds
	return r
}

// Comma-separated persistent server IDs to filter
func (r ApiV0MetricsQueryRangeGetRequest) PersistentServerIds(persistentServerIds string) ApiV0MetricsQueryRangeGetRequest {
	r.persistentServerIds = &persistentServerIds
	return r
}

// Comma-separated server group types to filter (e.g., SERVER, PROXY)
func (r ApiV0MetricsQueryRangeGetRequest) ServerType(serverType string) ApiV0MetricsQueryRangeGetRequest {
	r.serverType = &serverType
	return r
}

func (r ApiV0MetricsQueryRangeGetRequest) Execute() (*MetricsTimeSeriesResult, *http.Response, error) {
	return r.ApiService.V0MetricsQueryRangeGetExecute(r)
}

/*
V0MetricsQueryRangeGet Query metric time series

Get time-bucketed metric values for charts, optionally grouped by a label

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0MetricsQueryRangeGetRequest
*/
func (a *MetricsAPIService) V0MetricsQueryRangeGet(ctx context.Context) ApiV0MetricsQueryRangeGetRequest {
	return ApiV0MetricsQueryRangeGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MetricsTimeSeriesResult
func (a *MetricsAPIService) V0MetricsQueryRangeGetExecute(r ApiV0MetricsQueryRangeGetRequest) (*MetricsTimeSeriesResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MetricsTimeSeriesResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.V0MetricsQueryRangeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/metrics/query_range"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.metrics == nil {
		return localVarReturnValue, nil, reportError("metrics is required and must be specified")
	}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.step != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "step", r.step, "form", "")
	}
	if r.groupBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_by", r.groupBy, "form", "")
	}
	if r.aggregation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregation", r.aggregation, "form", "")
	}
	if r.serverIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_ids", r.serverIds, "form", "")
	}
	if r.serverGroupIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_group_ids", r.serverGroupIds, "form", "")
	}
	if r.persistentServerIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "persistent_server_ids", r.persistentServerIds, "form", "")
	}
	if r.serverType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_type", r.serverType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
