/*
SimpleCloud Controller API

API for SimpleCloud Controller

API version: 1.0
Contact: support@swagger.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type PluginCollectionAssignmentsAPI interface {

	/*
		V0PluginCollectionAssignmentsBulkCreatePost Bulk install a plugin collection on targets

		Install a plugin collection on multiple server groups and persistent servers atomically

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginCollectionAssignmentsBulkCreatePostRequest
	*/
	V0PluginCollectionAssignmentsBulkCreatePost(ctx context.Context) ApiV0PluginCollectionAssignmentsBulkCreatePostRequest

	// V0PluginCollectionAssignmentsBulkCreatePostExecute executes the request
	//  @return ModelsBulkCreatePluginCollectionAssignmentsResponse
	V0PluginCollectionAssignmentsBulkCreatePostExecute(r ApiV0PluginCollectionAssignmentsBulkCreatePostRequest) (*ModelsBulkCreatePluginCollectionAssignmentsResponse, *http.Response, error)

	/*
		V0PluginCollectionAssignmentsDelete Delete a plugin collection installation

		Delete a plugin collection installation without deleting the normal plugin assignments created from it

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginCollectionAssignmentsDeleteRequest
	*/
	V0PluginCollectionAssignmentsDelete(ctx context.Context) ApiV0PluginCollectionAssignmentsDeleteRequest

	// V0PluginCollectionAssignmentsDeleteExecute executes the request
	//  @return ModelsDeletePluginCollectionAssignmentResponse
	V0PluginCollectionAssignmentsDeleteExecute(r ApiV0PluginCollectionAssignmentsDeleteRequest) (*ModelsDeletePluginCollectionAssignmentResponse, *http.Response, error)

	/*
		V0PluginCollectionAssignmentsGet List plugin collection installations

		Get plugin collection installations for a network, optionally filtered by target

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginCollectionAssignmentsGetRequest
	*/
	V0PluginCollectionAssignmentsGet(ctx context.Context) ApiV0PluginCollectionAssignmentsGetRequest

	// V0PluginCollectionAssignmentsGetExecute executes the request
	//  @return ModelsListPluginCollectionAssignmentsResponse
	V0PluginCollectionAssignmentsGetExecute(r ApiV0PluginCollectionAssignmentsGetRequest) (*ModelsListPluginCollectionAssignmentsResponse, *http.Response, error)

	/*
		V0PluginCollectionAssignmentsPost Install a plugin collection on a target

		Install a plugin collection on a server group or persistent server and materialize normal plugin assignments

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginCollectionAssignmentsPostRequest
	*/
	V0PluginCollectionAssignmentsPost(ctx context.Context) ApiV0PluginCollectionAssignmentsPostRequest

	// V0PluginCollectionAssignmentsPostExecute executes the request
	//  @return ModelsCreatePluginCollectionAssignmentResponse
	V0PluginCollectionAssignmentsPostExecute(r ApiV0PluginCollectionAssignmentsPostRequest) (*ModelsCreatePluginCollectionAssignmentResponse, *http.Response, error)

	/*
		V0PluginCollectionAssignmentsReapplyPost Reapply plugin collection assignments

		Materialize missing plugin assignments from existing plugin collection assignments

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginCollectionAssignmentsReapplyPostRequest
	*/
	V0PluginCollectionAssignmentsReapplyPost(ctx context.Context) ApiV0PluginCollectionAssignmentsReapplyPostRequest

	// V0PluginCollectionAssignmentsReapplyPostExecute executes the request
	//  @return ModelsReapplyPluginCollectionAssignmentsResponse
	V0PluginCollectionAssignmentsReapplyPostExecute(r ApiV0PluginCollectionAssignmentsReapplyPostRequest) (*ModelsReapplyPluginCollectionAssignmentsResponse, *http.Response, error)
}

// PluginCollectionAssignmentsAPIService PluginCollectionAssignmentsAPI service
type PluginCollectionAssignmentsAPIService service

type ApiV0PluginCollectionAssignmentsBulkCreatePostRequest struct {
	ctx                                                context.Context
	ApiService                                         PluginCollectionAssignmentsAPI
	xNetworkID                                         *string
	xNetworkCredential                                 *string
	modelsBulkCreatePluginCollectionAssignmentsRequest *ModelsBulkCreatePluginCollectionAssignmentsRequest
}

// Network ID
func (r ApiV0PluginCollectionAssignmentsBulkCreatePostRequest) XNetworkID(xNetworkID string) ApiV0PluginCollectionAssignmentsBulkCreatePostRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginCollectionAssignmentsBulkCreatePostRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginCollectionAssignmentsBulkCreatePostRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Plugin collection assignment details
func (r ApiV0PluginCollectionAssignmentsBulkCreatePostRequest) ModelsBulkCreatePluginCollectionAssignmentsRequest(modelsBulkCreatePluginCollectionAssignmentsRequest ModelsBulkCreatePluginCollectionAssignmentsRequest) ApiV0PluginCollectionAssignmentsBulkCreatePostRequest {
	r.modelsBulkCreatePluginCollectionAssignmentsRequest = &modelsBulkCreatePluginCollectionAssignmentsRequest
	return r
}

func (r ApiV0PluginCollectionAssignmentsBulkCreatePostRequest) Execute() (*ModelsBulkCreatePluginCollectionAssignmentsResponse, *http.Response, error) {
	return r.ApiService.V0PluginCollectionAssignmentsBulkCreatePostExecute(r)
}

/*
V0PluginCollectionAssignmentsBulkCreatePost Bulk install a plugin collection on targets

Install a plugin collection on multiple server groups and persistent servers atomically

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginCollectionAssignmentsBulkCreatePostRequest
*/
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsBulkCreatePost(ctx context.Context) ApiV0PluginCollectionAssignmentsBulkCreatePostRequest {
	return ApiV0PluginCollectionAssignmentsBulkCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsBulkCreatePluginCollectionAssignmentsResponse
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsBulkCreatePostExecute(r ApiV0PluginCollectionAssignmentsBulkCreatePostRequest) (*ModelsBulkCreatePluginCollectionAssignmentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsBulkCreatePluginCollectionAssignmentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginCollectionAssignmentsAPIService.V0PluginCollectionAssignmentsBulkCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-collection-assignments/bulk-create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.modelsBulkCreatePluginCollectionAssignmentsRequest == nil {
		return localVarReturnValue, nil, reportError("modelsBulkCreatePluginCollectionAssignmentsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	// body params
	localVarPostBody = r.modelsBulkCreatePluginCollectionAssignmentsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0PluginCollectionAssignmentsDeleteRequest struct {
	ctx                context.Context
	ApiService         PluginCollectionAssignmentsAPI
	xNetworkID         *string
	xNetworkCredential *string
	assignmentId       *string
}

// Network ID
func (r ApiV0PluginCollectionAssignmentsDeleteRequest) XNetworkID(xNetworkID string) ApiV0PluginCollectionAssignmentsDeleteRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginCollectionAssignmentsDeleteRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginCollectionAssignmentsDeleteRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Plugin Collection Assignment ID
func (r ApiV0PluginCollectionAssignmentsDeleteRequest) AssignmentId(assignmentId string) ApiV0PluginCollectionAssignmentsDeleteRequest {
	r.assignmentId = &assignmentId
	return r
}

func (r ApiV0PluginCollectionAssignmentsDeleteRequest) Execute() (*ModelsDeletePluginCollectionAssignmentResponse, *http.Response, error) {
	return r.ApiService.V0PluginCollectionAssignmentsDeleteExecute(r)
}

/*
V0PluginCollectionAssignmentsDelete Delete a plugin collection installation

Delete a plugin collection installation without deleting the normal plugin assignments created from it

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginCollectionAssignmentsDeleteRequest
*/
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsDelete(ctx context.Context) ApiV0PluginCollectionAssignmentsDeleteRequest {
	return ApiV0PluginCollectionAssignmentsDeleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsDeletePluginCollectionAssignmentResponse
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsDeleteExecute(r ApiV0PluginCollectionAssignmentsDeleteRequest) (*ModelsDeletePluginCollectionAssignmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsDeletePluginCollectionAssignmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginCollectionAssignmentsAPIService.V0PluginCollectionAssignmentsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-collection-assignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.assignmentId == nil {
		return localVarReturnValue, nil, reportError("assignmentId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "assignment_id", r.assignmentId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0PluginCollectionAssignmentsGetRequest struct {
	ctx                context.Context
	ApiService         PluginCollectionAssignmentsAPI
	xNetworkID         *string
	xNetworkCredential *string
	serverGroupId      *string
	persistentServerId *string
}

// Network ID
func (r ApiV0PluginCollectionAssignmentsGetRequest) XNetworkID(xNetworkID string) ApiV0PluginCollectionAssignmentsGetRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginCollectionAssignmentsGetRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginCollectionAssignmentsGetRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Filter by Server Group ID
func (r ApiV0PluginCollectionAssignmentsGetRequest) ServerGroupId(serverGroupId string) ApiV0PluginCollectionAssignmentsGetRequest {
	r.serverGroupId = &serverGroupId
	return r
}

// Filter by Persistent Server ID
func (r ApiV0PluginCollectionAssignmentsGetRequest) PersistentServerId(persistentServerId string) ApiV0PluginCollectionAssignmentsGetRequest {
	r.persistentServerId = &persistentServerId
	return r
}

func (r ApiV0PluginCollectionAssignmentsGetRequest) Execute() (*ModelsListPluginCollectionAssignmentsResponse, *http.Response, error) {
	return r.ApiService.V0PluginCollectionAssignmentsGetExecute(r)
}

/*
V0PluginCollectionAssignmentsGet List plugin collection installations

Get plugin collection installations for a network, optionally filtered by target

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginCollectionAssignmentsGetRequest
*/
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsGet(ctx context.Context) ApiV0PluginCollectionAssignmentsGetRequest {
	return ApiV0PluginCollectionAssignmentsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsListPluginCollectionAssignmentsResponse
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsGetExecute(r ApiV0PluginCollectionAssignmentsGetRequest) (*ModelsListPluginCollectionAssignmentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsListPluginCollectionAssignmentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginCollectionAssignmentsAPIService.V0PluginCollectionAssignmentsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-collection-assignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}

	if r.serverGroupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_group_id", r.serverGroupId, "form", "")
	}
	if r.persistentServerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "persistent_server_id", r.persistentServerId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0PluginCollectionAssignmentsPostRequest struct {
	ctx                                           context.Context
	ApiService                                    PluginCollectionAssignmentsAPI
	xNetworkID                                    *string
	xNetworkCredential                            *string
	modelsCreatePluginCollectionAssignmentRequest *ModelsCreatePluginCollectionAssignmentRequest
}

// Network ID
func (r ApiV0PluginCollectionAssignmentsPostRequest) XNetworkID(xNetworkID string) ApiV0PluginCollectionAssignmentsPostRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginCollectionAssignmentsPostRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginCollectionAssignmentsPostRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Plugin collection assignment details
func (r ApiV0PluginCollectionAssignmentsPostRequest) ModelsCreatePluginCollectionAssignmentRequest(modelsCreatePluginCollectionAssignmentRequest ModelsCreatePluginCollectionAssignmentRequest) ApiV0PluginCollectionAssignmentsPostRequest {
	r.modelsCreatePluginCollectionAssignmentRequest = &modelsCreatePluginCollectionAssignmentRequest
	return r
}

func (r ApiV0PluginCollectionAssignmentsPostRequest) Execute() (*ModelsCreatePluginCollectionAssignmentResponse, *http.Response, error) {
	return r.ApiService.V0PluginCollectionAssignmentsPostExecute(r)
}

/*
V0PluginCollectionAssignmentsPost Install a plugin collection on a target

Install a plugin collection on a server group or persistent server and materialize normal plugin assignments

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginCollectionAssignmentsPostRequest
*/
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsPost(ctx context.Context) ApiV0PluginCollectionAssignmentsPostRequest {
	return ApiV0PluginCollectionAssignmentsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsCreatePluginCollectionAssignmentResponse
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsPostExecute(r ApiV0PluginCollectionAssignmentsPostRequest) (*ModelsCreatePluginCollectionAssignmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsCreatePluginCollectionAssignmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginCollectionAssignmentsAPIService.V0PluginCollectionAssignmentsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-collection-assignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.modelsCreatePluginCollectionAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("modelsCreatePluginCollectionAssignmentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	// body params
	localVarPostBody = r.modelsCreatePluginCollectionAssignmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0PluginCollectionAssignmentsReapplyPostRequest struct {
	ctx                                             context.Context
	ApiService                                      PluginCollectionAssignmentsAPI
	xNetworkID                                      *string
	xNetworkCredential                              *string
	modelsReapplyPluginCollectionAssignmentsRequest *ModelsReapplyPluginCollectionAssignmentsRequest
}

// Network ID
func (r ApiV0PluginCollectionAssignmentsReapplyPostRequest) XNetworkID(xNetworkID string) ApiV0PluginCollectionAssignmentsReapplyPostRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginCollectionAssignmentsReapplyPostRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginCollectionAssignmentsReapplyPostRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Plugin collection reapply filters
func (r ApiV0PluginCollectionAssignmentsReapplyPostRequest) ModelsReapplyPluginCollectionAssignmentsRequest(modelsReapplyPluginCollectionAssignmentsRequest ModelsReapplyPluginCollectionAssignmentsRequest) ApiV0PluginCollectionAssignmentsReapplyPostRequest {
	r.modelsReapplyPluginCollectionAssignmentsRequest = &modelsReapplyPluginCollectionAssignmentsRequest
	return r
}

func (r ApiV0PluginCollectionAssignmentsReapplyPostRequest) Execute() (*ModelsReapplyPluginCollectionAssignmentsResponse, *http.Response, error) {
	return r.ApiService.V0PluginCollectionAssignmentsReapplyPostExecute(r)
}

/*
V0PluginCollectionAssignmentsReapplyPost Reapply plugin collection assignments

Materialize missing plugin assignments from existing plugin collection assignments

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginCollectionAssignmentsReapplyPostRequest
*/
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsReapplyPost(ctx context.Context) ApiV0PluginCollectionAssignmentsReapplyPostRequest {
	return ApiV0PluginCollectionAssignmentsReapplyPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsReapplyPluginCollectionAssignmentsResponse
func (a *PluginCollectionAssignmentsAPIService) V0PluginCollectionAssignmentsReapplyPostExecute(r ApiV0PluginCollectionAssignmentsReapplyPostRequest) (*ModelsReapplyPluginCollectionAssignmentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsReapplyPluginCollectionAssignmentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginCollectionAssignmentsAPIService.V0PluginCollectionAssignmentsReapplyPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-collection-assignments/reapply"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.modelsReapplyPluginCollectionAssignmentsRequest == nil {
		return localVarReturnValue, nil, reportError("modelsReapplyPluginCollectionAssignmentsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	// body params
	localVarPostBody = r.modelsReapplyPluginCollectionAssignmentsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
