/*
SimpleCloud Controller API

API for SimpleCloud Controller

API version: 1.0
Contact: support@swagger.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type PluginAssignmentsAPI interface {

	/*
		V0PluginAssignmentsBulkCreatePost Bulk create plugin assignments

		Assign one or more plugins to multiple server groups and persistent servers atomically

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginAssignmentsBulkCreatePostRequest
	*/
	V0PluginAssignmentsBulkCreatePost(ctx context.Context) ApiV0PluginAssignmentsBulkCreatePostRequest

	// V0PluginAssignmentsBulkCreatePostExecute executes the request
	//  @return ModelsBulkCreatePluginAssignmentsResponse
	V0PluginAssignmentsBulkCreatePostExecute(r ApiV0PluginAssignmentsBulkCreatePostRequest) (*ModelsBulkCreatePluginAssignmentsResponse, *http.Response, error)

	/*
		V0PluginAssignmentsBulkDeletePost Bulk delete plugin assignments

		Delete multiple plugin assignments in one request

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginAssignmentsBulkDeletePostRequest
	*/
	V0PluginAssignmentsBulkDeletePost(ctx context.Context) ApiV0PluginAssignmentsBulkDeletePostRequest

	// V0PluginAssignmentsBulkDeletePostExecute executes the request
	//  @return ModelsBulkDeletePluginAssignmentsResponse
	V0PluginAssignmentsBulkDeletePostExecute(r ApiV0PluginAssignmentsBulkDeletePostRequest) (*ModelsBulkDeletePluginAssignmentsResponse, *http.Response, error)

	/*
		V0PluginAssignmentsDelete Delete a plugin assignment

		Delete an existing plugin assignment

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginAssignmentsDeleteRequest
	*/
	V0PluginAssignmentsDelete(ctx context.Context) ApiV0PluginAssignmentsDeleteRequest

	// V0PluginAssignmentsDeleteExecute executes the request
	//  @return ModelsDeletePluginAssignmentResponse
	V0PluginAssignmentsDeleteExecute(r ApiV0PluginAssignmentsDeleteRequest) (*ModelsDeletePluginAssignmentResponse, *http.Response, error)

	/*
		V0PluginAssignmentsGet List plugin assignments

		Get a list of plugin assignments for a network, optionally filtered by server group or persistent server

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginAssignmentsGetRequest
	*/
	V0PluginAssignmentsGet(ctx context.Context) ApiV0PluginAssignmentsGetRequest

	// V0PluginAssignmentsGetExecute executes the request
	//  @return ModelsListPluginAssignmentsResponse
	V0PluginAssignmentsGetExecute(r ApiV0PluginAssignmentsGetRequest) (*ModelsListPluginAssignmentsResponse, *http.Response, error)

	/*
		V0PluginAssignmentsPost Create a new plugin assignment

		Assign a plugin to a server group or persistent server. You can either provide a plugin_id to use an existing plugin, or provide plugin_name, source_type, and source_value to find or create the plugin automatically.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginAssignmentsPostRequest
	*/
	V0PluginAssignmentsPost(ctx context.Context) ApiV0PluginAssignmentsPostRequest

	// V0PluginAssignmentsPostExecute executes the request
	//  @return ModelsPluginAssignmentResponse
	V0PluginAssignmentsPostExecute(r ApiV0PluginAssignmentsPostRequest) (*ModelsPluginAssignmentResponse, *http.Response, error)

	/*
		V0PluginAssignmentsPut Update a plugin assignment

		Update the plugin metadata for an existing assignment without deleting it first

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiV0PluginAssignmentsPutRequest
	*/
	V0PluginAssignmentsPut(ctx context.Context) ApiV0PluginAssignmentsPutRequest

	// V0PluginAssignmentsPutExecute executes the request
	//  @return ModelsPluginAssignmentResponse
	V0PluginAssignmentsPutExecute(r ApiV0PluginAssignmentsPutRequest) (*ModelsPluginAssignmentResponse, *http.Response, error)
}

// PluginAssignmentsAPIService PluginAssignmentsAPI service
type PluginAssignmentsAPIService service

type ApiV0PluginAssignmentsBulkCreatePostRequest struct {
	ctx                                      context.Context
	ApiService                               PluginAssignmentsAPI
	xNetworkID                               *string
	xNetworkCredential                       *string
	modelsBulkCreatePluginAssignmentsRequest *ModelsBulkCreatePluginAssignmentsRequest
}

// Network ID
func (r ApiV0PluginAssignmentsBulkCreatePostRequest) XNetworkID(xNetworkID string) ApiV0PluginAssignmentsBulkCreatePostRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginAssignmentsBulkCreatePostRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginAssignmentsBulkCreatePostRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Plugin assignment details
func (r ApiV0PluginAssignmentsBulkCreatePostRequest) ModelsBulkCreatePluginAssignmentsRequest(modelsBulkCreatePluginAssignmentsRequest ModelsBulkCreatePluginAssignmentsRequest) ApiV0PluginAssignmentsBulkCreatePostRequest {
	r.modelsBulkCreatePluginAssignmentsRequest = &modelsBulkCreatePluginAssignmentsRequest
	return r
}

func (r ApiV0PluginAssignmentsBulkCreatePostRequest) Execute() (*ModelsBulkCreatePluginAssignmentsResponse, *http.Response, error) {
	return r.ApiService.V0PluginAssignmentsBulkCreatePostExecute(r)
}

/*
V0PluginAssignmentsBulkCreatePost Bulk create plugin assignments

Assign one or more plugins to multiple server groups and persistent servers atomically

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginAssignmentsBulkCreatePostRequest
*/
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsBulkCreatePost(ctx context.Context) ApiV0PluginAssignmentsBulkCreatePostRequest {
	return ApiV0PluginAssignmentsBulkCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsBulkCreatePluginAssignmentsResponse
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsBulkCreatePostExecute(r ApiV0PluginAssignmentsBulkCreatePostRequest) (*ModelsBulkCreatePluginAssignmentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsBulkCreatePluginAssignmentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginAssignmentsAPIService.V0PluginAssignmentsBulkCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-assignments/bulk-create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.modelsBulkCreatePluginAssignmentsRequest == nil {
		return localVarReturnValue, nil, reportError("modelsBulkCreatePluginAssignmentsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	// body params
	localVarPostBody = r.modelsBulkCreatePluginAssignmentsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0PluginAssignmentsBulkDeletePostRequest struct {
	ctx                                      context.Context
	ApiService                               PluginAssignmentsAPI
	xNetworkID                               *string
	xNetworkCredential                       *string
	modelsBulkDeletePluginAssignmentsRequest *ModelsBulkDeletePluginAssignmentsRequest
}

// Network ID
func (r ApiV0PluginAssignmentsBulkDeletePostRequest) XNetworkID(xNetworkID string) ApiV0PluginAssignmentsBulkDeletePostRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginAssignmentsBulkDeletePostRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginAssignmentsBulkDeletePostRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Plugin assignment IDs
func (r ApiV0PluginAssignmentsBulkDeletePostRequest) ModelsBulkDeletePluginAssignmentsRequest(modelsBulkDeletePluginAssignmentsRequest ModelsBulkDeletePluginAssignmentsRequest) ApiV0PluginAssignmentsBulkDeletePostRequest {
	r.modelsBulkDeletePluginAssignmentsRequest = &modelsBulkDeletePluginAssignmentsRequest
	return r
}

func (r ApiV0PluginAssignmentsBulkDeletePostRequest) Execute() (*ModelsBulkDeletePluginAssignmentsResponse, *http.Response, error) {
	return r.ApiService.V0PluginAssignmentsBulkDeletePostExecute(r)
}

/*
V0PluginAssignmentsBulkDeletePost Bulk delete plugin assignments

Delete multiple plugin assignments in one request

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginAssignmentsBulkDeletePostRequest
*/
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsBulkDeletePost(ctx context.Context) ApiV0PluginAssignmentsBulkDeletePostRequest {
	return ApiV0PluginAssignmentsBulkDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsBulkDeletePluginAssignmentsResponse
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsBulkDeletePostExecute(r ApiV0PluginAssignmentsBulkDeletePostRequest) (*ModelsBulkDeletePluginAssignmentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsBulkDeletePluginAssignmentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginAssignmentsAPIService.V0PluginAssignmentsBulkDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-assignments/bulk-delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.modelsBulkDeletePluginAssignmentsRequest == nil {
		return localVarReturnValue, nil, reportError("modelsBulkDeletePluginAssignmentsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	// body params
	localVarPostBody = r.modelsBulkDeletePluginAssignmentsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0PluginAssignmentsDeleteRequest struct {
	ctx                context.Context
	ApiService         PluginAssignmentsAPI
	xNetworkID         *string
	xNetworkCredential *string
	assignmentId       *string
}

// Network ID
func (r ApiV0PluginAssignmentsDeleteRequest) XNetworkID(xNetworkID string) ApiV0PluginAssignmentsDeleteRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginAssignmentsDeleteRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginAssignmentsDeleteRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Plugin Assignment ID
func (r ApiV0PluginAssignmentsDeleteRequest) AssignmentId(assignmentId string) ApiV0PluginAssignmentsDeleteRequest {
	r.assignmentId = &assignmentId
	return r
}

func (r ApiV0PluginAssignmentsDeleteRequest) Execute() (*ModelsDeletePluginAssignmentResponse, *http.Response, error) {
	return r.ApiService.V0PluginAssignmentsDeleteExecute(r)
}

/*
V0PluginAssignmentsDelete Delete a plugin assignment

Delete an existing plugin assignment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginAssignmentsDeleteRequest
*/
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsDelete(ctx context.Context) ApiV0PluginAssignmentsDeleteRequest {
	return ApiV0PluginAssignmentsDeleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsDeletePluginAssignmentResponse
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsDeleteExecute(r ApiV0PluginAssignmentsDeleteRequest) (*ModelsDeletePluginAssignmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsDeletePluginAssignmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginAssignmentsAPIService.V0PluginAssignmentsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-assignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.assignmentId == nil {
		return localVarReturnValue, nil, reportError("assignmentId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "assignment_id", r.assignmentId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0PluginAssignmentsGetRequest struct {
	ctx                context.Context
	ApiService         PluginAssignmentsAPI
	xNetworkID         *string
	xNetworkCredential *string
	serverGroupId      *string
	persistentServerId *string
}

// Network ID
func (r ApiV0PluginAssignmentsGetRequest) XNetworkID(xNetworkID string) ApiV0PluginAssignmentsGetRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginAssignmentsGetRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginAssignmentsGetRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Filter by Server Group ID
func (r ApiV0PluginAssignmentsGetRequest) ServerGroupId(serverGroupId string) ApiV0PluginAssignmentsGetRequest {
	r.serverGroupId = &serverGroupId
	return r
}

// Filter by Persistent Server ID
func (r ApiV0PluginAssignmentsGetRequest) PersistentServerId(persistentServerId string) ApiV0PluginAssignmentsGetRequest {
	r.persistentServerId = &persistentServerId
	return r
}

func (r ApiV0PluginAssignmentsGetRequest) Execute() (*ModelsListPluginAssignmentsResponse, *http.Response, error) {
	return r.ApiService.V0PluginAssignmentsGetExecute(r)
}

/*
V0PluginAssignmentsGet List plugin assignments

Get a list of plugin assignments for a network, optionally filtered by server group or persistent server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginAssignmentsGetRequest
*/
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsGet(ctx context.Context) ApiV0PluginAssignmentsGetRequest {
	return ApiV0PluginAssignmentsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsListPluginAssignmentsResponse
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsGetExecute(r ApiV0PluginAssignmentsGetRequest) (*ModelsListPluginAssignmentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsListPluginAssignmentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginAssignmentsAPIService.V0PluginAssignmentsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-assignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}

	if r.serverGroupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_group_id", r.serverGroupId, "form", "")
	}
	if r.persistentServerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "persistent_server_id", r.persistentServerId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0PluginAssignmentsPostRequest struct {
	ctx                                 context.Context
	ApiService                          PluginAssignmentsAPI
	xNetworkID                          *string
	xNetworkCredential                  *string
	modelsCreatePluginAssignmentRequest *ModelsCreatePluginAssignmentRequest
}

// Network ID
func (r ApiV0PluginAssignmentsPostRequest) XNetworkID(xNetworkID string) ApiV0PluginAssignmentsPostRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginAssignmentsPostRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginAssignmentsPostRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Plugin assignment details. Either plugin_id OR (plugin_name + source_type + source_value) must be provided.
func (r ApiV0PluginAssignmentsPostRequest) ModelsCreatePluginAssignmentRequest(modelsCreatePluginAssignmentRequest ModelsCreatePluginAssignmentRequest) ApiV0PluginAssignmentsPostRequest {
	r.modelsCreatePluginAssignmentRequest = &modelsCreatePluginAssignmentRequest
	return r
}

func (r ApiV0PluginAssignmentsPostRequest) Execute() (*ModelsPluginAssignmentResponse, *http.Response, error) {
	return r.ApiService.V0PluginAssignmentsPostExecute(r)
}

/*
V0PluginAssignmentsPost Create a new plugin assignment

Assign a plugin to a server group or persistent server. You can either provide a plugin_id to use an existing plugin, or provide plugin_name, source_type, and source_value to find or create the plugin automatically.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginAssignmentsPostRequest
*/
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsPost(ctx context.Context) ApiV0PluginAssignmentsPostRequest {
	return ApiV0PluginAssignmentsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsPluginAssignmentResponse
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsPostExecute(r ApiV0PluginAssignmentsPostRequest) (*ModelsPluginAssignmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsPluginAssignmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginAssignmentsAPIService.V0PluginAssignmentsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-assignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.modelsCreatePluginAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("modelsCreatePluginAssignmentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	// body params
	localVarPostBody = r.modelsCreatePluginAssignmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV0PluginAssignmentsPutRequest struct {
	ctx                                 context.Context
	ApiService                          PluginAssignmentsAPI
	xNetworkID                          *string
	xNetworkCredential                  *string
	assignmentId                        *string
	modelsUpdatePluginAssignmentRequest *ModelsUpdatePluginAssignmentRequest
}

// Network ID
func (r ApiV0PluginAssignmentsPutRequest) XNetworkID(xNetworkID string) ApiV0PluginAssignmentsPutRequest {
	r.xNetworkID = &xNetworkID
	return r
}

// Network Credential (network password or JWT)
func (r ApiV0PluginAssignmentsPutRequest) XNetworkCredential(xNetworkCredential string) ApiV0PluginAssignmentsPutRequest {
	r.xNetworkCredential = &xNetworkCredential
	return r
}

// Plugin Assignment ID
func (r ApiV0PluginAssignmentsPutRequest) AssignmentId(assignmentId string) ApiV0PluginAssignmentsPutRequest {
	r.assignmentId = &assignmentId
	return r
}

// Plugin assignment update details
func (r ApiV0PluginAssignmentsPutRequest) ModelsUpdatePluginAssignmentRequest(modelsUpdatePluginAssignmentRequest ModelsUpdatePluginAssignmentRequest) ApiV0PluginAssignmentsPutRequest {
	r.modelsUpdatePluginAssignmentRequest = &modelsUpdatePluginAssignmentRequest
	return r
}

func (r ApiV0PluginAssignmentsPutRequest) Execute() (*ModelsPluginAssignmentResponse, *http.Response, error) {
	return r.ApiService.V0PluginAssignmentsPutExecute(r)
}

/*
V0PluginAssignmentsPut Update a plugin assignment

Update the plugin metadata for an existing assignment without deleting it first

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV0PluginAssignmentsPutRequest
*/
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsPut(ctx context.Context) ApiV0PluginAssignmentsPutRequest {
	return ApiV0PluginAssignmentsPutRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelsPluginAssignmentResponse
func (a *PluginAssignmentsAPIService) V0PluginAssignmentsPutExecute(r ApiV0PluginAssignmentsPutRequest) (*ModelsPluginAssignmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelsPluginAssignmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginAssignmentsAPIService.V0PluginAssignmentsPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/plugin-assignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNetworkID == nil {
		return localVarReturnValue, nil, reportError("xNetworkID is required and must be specified")
	}
	if r.xNetworkCredential == nil {
		return localVarReturnValue, nil, reportError("xNetworkCredential is required and must be specified")
	}
	if r.assignmentId == nil {
		return localVarReturnValue, nil, reportError("assignmentId is required and must be specified")
	}
	if r.modelsUpdatePluginAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("modelsUpdatePluginAssignmentRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "assignment_id", r.assignmentId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-ID", r.xNetworkID, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Network-Credential", r.xNetworkCredential, "simple", "")
	// body params
	localVarPostBody = r.modelsUpdatePluginAssignmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelsErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
